<tr class="selected-ingredient">
  <td>
    <%= link_to "#" , class: "remove-element" do %>
      <i class="far fa-trash-alt"></i>
    <% end %>
  </td>
  <td class="ingredient-name">
    <%= @ingredient.name %>
  </td>
  <td>
    <%= simple_form_for "dose#{params[:id]}", class: "dose-form" do |dose_form| %>
      <%= dose_form.input :description, label: false, input_html: { class: "cocktail-dose", style: "width: 100%;", placeholder: "Add description" } %>
      <%= dose_form.hidden_field :ingredient_id, value: params[:id] %>
    <% end %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </td>
</tr>